#divider {
    border-bottom: 2px solid #0066ff;
}

#row-1 {
    height: 132px;
    min-height: 132px;
}

#row-1 > div > div {
    height: 98px;
    min-height: 98px;
}

#filter-box input {
    line-height: 1.2;
    border-radius: 2px;
    border: 1px solid #808080;
    font-family: monospace, serif;
    font-size: 13.33px;
}

#filter-box label {
    font-family: "Times New Roman", serif;
}

#sales-summary{
    font: 25px "Times New Roman", serif;
}

#row-2 {
    min-height: 480px;
    height: 480px;
}

#row-2 > div > div {
    min-height: 450px;
    height: 450px;
}
